@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  cursor: pointer;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.button-small {
  padding: 8px 34px;
  flex-shrink: 0;
  margin-left: 20px;
}

.button-large {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.button-primary{
  background-color: #756157;
}

.button-secondary {
  background-color: #82b3d3;
}

.button-active {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

.list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  background-color: #f2f2f2;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.page-header {
  padding: 0 70px;
  height: 100%;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-logo{
  flex-shrink: 0;
  margin-bottom: -11px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  align-items: center;
}

.navigation-user-list {
  display: flex;
  margin-left: auto;
  align-items: baseline;
}

.navigation-user-link {
  display: inline-flex;
  padding: 20px 12px;
  align-items: center;
}

.favorite {
  position: relative;
}

.user-counter {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 20px;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  text-decoration-line: underline;
  text-decoration-color: #756157;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.hero{
  width: 100%;
  height: 485px;
  background-image: url(../images/svg/divider.svg), url(../images/hero-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #82b3d3;
  padding-top: 51px;
  box-sizing: border-box;
}

.hero-image{
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-text{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.advantages-wrapper {
  padding: 102px 85px;
}

.advantages-item {
  width: calc(100% / 3);
  min-height: 385px;
  box-sizing: border-box;
  padding: 102px 85px;
  background-color: #83B3D31F;
}

.advantages-item:nth-child(3) {
  background-color: #83b3d333;
}

.advantages-item img {
  display: block;
}

.advantages-item h3{
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-item h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
  top: 80px;
  left: 80px;
}

.advantages-item-image h3::after {
  background-color: #ffffff;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-item-image{
  width: 100%;
  display: flex;
  background-color: #82b3d3;
  padding: 0;
}

.advantages-item-image h3 {
  color: #ffffff;
}

.advantages-item-image p {
  color: #ffffff;
}


.advantages-item-reverse {
  flex-direction: row-reverse;
}

.advertising {
  padding-top: 64px;
}

.advertising-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.advertising-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

.advertising-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advertising-item {
  width: calc(100% / 3);
  min-height: 385px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 81px 85px;
  background-color: #83B3D31F;
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.advertising-item-first {
  background-image: url(../images/svg/icon-home.svg);
}

.advertising-item-second {
  background-image: url(../images/svg/icon-food.svg);
}

.advertising-item-third {
  background-image: url(../images/svg/icon-gift.svg);
}

.advertising-item:nth-child(2) {
  background-color: #ffffff;
}

.advertising-item object {
  display: block;
  margin: 0 auto;
}

.advertising-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-top: 102px;
  margin-bottom: 30px;
}

.advertising-item p {
  text-align: center;
  margin: 0;
  flex-grow: 1;
}

.search {
  padding: 96px;
  text-align: center;
}

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.search p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.search-link {
  background-color: #756157;
  border-radius: 4px;
}

.subscription {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #82b3d3;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 96px 258px 104px;
}

.subscription h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subscription p {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  margin: 0;
  display: flex;
  justify-content: center;

}

.field {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  width: 452px;
  padding: 14px 21px;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;

}

.field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-item {
  display: inline-flex;
  width: 47px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transform: translateY(5px);
  cursor: pointer;
}

.contact-link {
  font-size: 40px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/*catalog*/
.catalog-filter-wrapper {
  width: 1200px;
  height: 412px;
  padding: 35px 70px;
  box-sizing: border-box;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
  background-position: cover;
  background-size: 100% auto;
}

.catalog-filter form {
  display: flex;
}

.header-inner h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.link-hotel {
  margin-left: 28px;
}

.link-hotel {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  margin-left: 28px;
}

.link-hotel::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 20px;
  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  left: -18px;
  top: 6px;
}

.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.infrastrukture {
  margin-right: 70px;
}

.type-housing {
  margin-right: 140px;
}

.price {
  margin-right: 70px;
}

.group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin-bottom: 32px;
}

.group-item {
  display: flex;
  align-items: center;
}

.group-item:not(:last-child) {
  margin-bottom: 16px;
}

.input-text{
  line-height: 23px;
  color: #ffffff;
  padding-left: 16px;
}

input[type= "checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

input[type= "checkbox"]:checked {
  background-image: url("../images/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type= "radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

input[type= "radio"]:checked {
  background-color: #3F5E72;
  box-shadow: inset 0 0 0 5px #ffffff;
}

.price-inputs {
  width: 288px;
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.price-input {
  width: 100%;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: textfield;
}

.input {
  outline: none;
  font-family: inherit;
}

.input-from {
  border-radius: 4px 0 0 4px;
}

.input-to {
  border-radius: 0 4px 4px 0;
}

.lable-input {
  position: absolute;
  top: 50%;
  transform: translateY(-10px);
  left: 75%;
  opacity: 0.3;
}

.range-scale {
  position: relative;
}

.input-range[type='range'] {
  width: 100%;
  height: 4px;
  overflow: hidden;
  outline: none;
  opacity: 0.3;
}

.input-range[type='range'],
.input-range[type='range']::-webkit-slider-runnable-track,
.input-range[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.range-progress {
  width: calc(100% / 2 + 25%);
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 13px;
}

.range-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
}

.thumb-min {
  top: -8px;
}

.thumb-max {
  top: -8px;
  left: 207px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 191px;
  margin-top: 56px;
}

.cards {
  padding: 50px 70px 60px;
}

.cards-sorting {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.sorting {
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/svg/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 258px 50%;
}

.cards-view-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  margin-left: 70px;
}

.cards-view-link {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active-card{
  border: 2px solid #000000;
}

.cards-view-item img {
  display: block;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.cards-item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.cards-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  align-items: center;
 }

.cards-price-wrapper {
  display: flex;
  justify-content: space-between;
}

.cards-button-wrapper {
  display: flex;
  gap: 20px;
}

.button-cards {
  flex-grow: 1;
  justify-content: center;
  width: 50%;
}

.cards-rating-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cards-item-rating {
  display: inline-flex;
  justify-content: center;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 9px;
  width: 122px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.stars {
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat;
  background-size: 23px 17px;
  display: inline-flex;
  align-self: center;
  width: 90px;
  height: 17px;
}

.stars-three {
  width: 65px;
}

.stars-two {
  width: 45px;
}

.pagination-list {
  display: flex;
  border-top: 1px solid #e6e6e6;
  padding-top: 40px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.pagination-link-primary {
  color: #000000;
  background-color: #f2f2f2;
}

.link-more{
  color: #000000;
  background-color: transparent;
}

.subscription-inner {
  background-image: none;
  background-color: #ffffff;
}

.subscription-inner h2 {
  color: #000000;
}

.subscription-inner p {
  color: #333333;
}

/*popup*/

.modal-container{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
}

/* открыть окно */
.modal-container-opened {
  display: flex;
}

.modal{
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-search {
  width: 577px;
  border-radius: 30px;
}

.title-wrapper {
  display: flex;
}

.modal-close-button {
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  left: 15px;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 64px;
  text-transform: uppercase;
  margin-right: auto;
}

.field-date {
  margin-bottom: 23px;
}

.input-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  flex-shrink: 0;
  margin-right: 18px;
  min-width: 137px;
}

.input-label-children {
  min-width: 50px;
  margin-right: 10px;
}

.tooltip-wrapper {
  margin-right: 82px;
}

.search-form-field {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  padding: 12px 40px 12px 20px;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
}

.label-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field-message{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 137px;
  margin-top: 4px;
}

.warning-message {
  color: #FF5757;
}

.arrival-date,
.departure-date {
  background-image: url("../images/svg/date-icon.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.field-age-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.adults-wrapper,
.children-wrapper {
  display: flex;
  align-items: center;
}

.button-wrapper {
  display: flex;
}

.number-form-field[type='number'] {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 31px;
  color: #000000;
  background-color: #f2f2f2;
  padding: 0;
  border: none;
}

.button-field{
  display: inline-flex;
  align-items: center;
  padding: 14px 10px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px ;
  border: none;
  background-color: #f2f2f2;
  appearance: none;
  cursor: pointer;
}

.button-minus {
  border-radius: 4px 0 0 4px ;
}

.button-plus {
  border-radius: 0 4px 4px 0;
}

.button-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 18px;
}

.tooltip-toggle {
  position: relative;
  top: 3px;
  background-image: url("../images/svg/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #83B3D3;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-right: 46px;
}

.tooltip-text {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #ffffff;
  background-color: #333333;
  padding: 15px 18px 18px 22px;
  box-sizing: border-box;
  border-radius: 10px;
  display: none;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-color: #333333;
  top: 0;
  left: 49%;
  transform: rotate(45deg) translateX(-50%);
}

.tooltip-text-opened {
  display: block;
}
